<div class="layout-sidebar" style="height: 100px; background-color: #316365;  color: White; overflow: hidden;">
  <img src="../../../assets/images/avatar.png" class="layout-sidebar-logo">
</div>

<div class="grid p-fluid pl-0">
  <div class="col-3 xl:col-3" style="text-align: left; cursor: pointer;" style="z-index:1">
    <a href="https://www.google.com.br"><img src="../../../assets/images/icon/login.png" style='border: 0px solid #316365; width: 65px; height: 35px;'></a>
  </div>
  <div class="col-7 xl:col-7" style="z-index:1;margin-top: 2%;">
    <span class="layout-title-module ng-tns-c23-14 ng-star-inserted" style="font-weight: 400;">
        MedQ
    </span>
  </div>
  <div class="col-1 xl:col-1">
    <button class="p-link opacity-75 pt-2" style="z-index: 1000; top:9%" type="button" data-placement="top"
            data-popover-content="#a1" data-toggle="popover" data-trigger="focus" href="#" tabindex="0"
            >
            <i class="fa fa-user fs-4" style="color: white;"></i>
      </button>
  </div>
</div>

<p-slideMenu #menu [model]="model" styleClass="menuPrime" 
            backLabel="Voltar" [menuWidth]="250 " [viewportHeight]="180"></p-slideMenu>