################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/backend/MedQ.API/clogsmedqlog_erros_13_08_2023.log
/backend/MedQ.API/clogsmedqlog_erros_14_08_2023.log
