<div class="container">
  <div>
    <h1>Minhas Consultas</h1>
  </div>

  <div>
    <ul class="nav nav-tabs mb-3" id="ex1" role="tablist">
      <li class="nav-item" role="presentation">
        <a data-mdb-tab-init
        class="nav-link active"
        id="ex1-tab-1"
        href="#"
        role="tab"
        aria-controls="ex1-tabs-1"
        aria-selected="true">Agendados</a>

        <div>
          <app-listar-consultas></app-listar-consultas>
        </div>
      </li>
      <li class="nav-item">
        <a data-mdb-tab-init
        class="nav-link active"
        id="ex1-tab-1"
        href="#"
        role="tab"
        aria-controls="ex1-tabs-1"
        aria-selected="true">Anterior</a>
      </li>
    </ul>
  </div>
</div>