<ion-tabs class="footer" mode="ios">
  <div class="input">
  <ion-item (click)='goToList()'>
  <ion-input type="text" placeholder="Hospital ou Clinica" style="color: black; font-size: 2.2vh; "></ion-input>
  <ion-icon name="search"  slot="start" style="color: black;"></ion-icon>
  </ion-item>
  </div>
</ion-tabs>